openapi: "3.0.0"
servers:
  - url: https://tweetstore.coinform.eu/
    description: The TweetStore server adress 
info:
  description: |
    This document describes the API exposed by Co-Inform's Misinformation Detection Modules TweetStore support server.
    This server is a store for tweets accumulated by the modules so as to reduce the load of circumventing the Twitter API.
  version: "0.0.1"
  title: "[Draft] Co-Inform TweetStore API"
paths:
  /tweet/{tweet_id}:
    get:
      tags: 
      - "Module Twitter support" 
      summary: "Get a previously retreived Tweet"
      parameters:
      - name: "tweet_id"
        in: "path"
        required: true
        description: "The tweet_id for the specific Tweet in the database"
        schema:
          type: "string"
      responses:
        200:
          description: "Will return a single Tweet"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tweet"
        404:
          description: "Resoruce not found, it does not exist in our database"
  /tweet/{tweet_id}/replies:
    get:
      tags:
      - "Module Twitter support"
      summary: "Get replies to a tweet"
      description: "Gets a list of all the replies to a certain tweet_id that exists in our database, necesarily not all specified in the replies array of Tweet objects. Missing replies will have to be handled by the module"
      parameters:
        - name: "tweet_id"
          in: "path"
          requeired: true
          description: "The tweet_id to query for replies"
          schems:
            type: "string"
      responses:
        200:
          description: "Will return an Array of Tweet objects that are replies to the queried tweet_id"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Tweet"
        404:
          description: "That resource does not exist in our database"
  /user/{user}/tweet:
    get:
      tags:
      - "Module Twitter support"
      summary: "Get user Tweets"
      description: "Gets all or n tweets connected to a user in the database"
      parameters:
      - name: "user"
        in: "path"
        description: "the Twitter user to query for tweets"
        required: true
        schema:
          type: "string"
      - name: "n"
        in: "path"
        description: "the number of tweets to request for a certain Twitter user, if n is omitted or equals -1 all the stored tweets will be returned. If n == 0 no tweets will be retrieved"
        required: false
        schema:
          type: "string"
      responses:
        200:
          description: "Will return an array of Tweet objects that are linked to the particular user"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Tweet"
        404:
          description: "That resource does not exist in our database"
  /tweet:
    post:
      tags: 
      - "Module Twitter support"
      summary: "Store a tweet in the TwitterStore"
      description: "Stores a single tweet in the store"
      requestBody:
        description: "A tweet to be stored in the db"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tweet"
      responses:
        200:
          description: "The tweet was successfully stored in the database"
        404:
          description: "Invalid request or body"
components:
  schemas:
    Tweet:
      type: "object"
      properties:
        tweet_id:
          type: "integer" 
          format: "int64"
          example: 5555555
        user:
          type: "string"
          example: "realDonaldTrump"
        content:
          type: "string"
          example: "I will build a great wall"
        replies:
          description: "An array of integers representing the replies to the particular Tweet"
          type: "array"
          items:
            type: "integer"
            format: "int64"
          example: [1, 2, 3, 4]
        urls:
          description: "An array of objects holding a shortened and an expanded url"
          type: "array"
          items:
            type: "object"
            properties:
              expanded_url:
                type: "string"
                example: "https://www.youtube.com/watch?v=zlJDTxahav0"
              short_url:
                type: "string"
                example: "https://youtu.be/zlJDTxahav0"
